extends layout 

block page-style
  link(rel="stylesheet", href="styles/about.css") 

block layout-content 
    h1 ...Welcome to my E-commerce site...
    h2 About Me!
    p Hi, I'm Parjad!
    p I am a passionate web developer with a love for creating beautiful and functional websites.
    p This is about me Page.
    p I'm Building digital dreams, one pixel at a time.
    img(src="img/ParjadFinal2-19.jpg", alt="Parjad's Image", class="about-image")