nav#navbar(aria-label="Main navigation")
    div#info
        div
            img(src='/img/logo.png', alt='E-commerce Logo' id='logo')
        div#title 
            h1 Parjad E-commerce Site
    ul#nav-links
        li
            button.btn#link(onclick="location.href='/'") Home
        li
            button.btn(onclick="location.href='/'") Info
        li
            button.btn#link(onclick="location.href='/about'") About Us
        li
            button.btn(onclick="location.href='/'") Contact Us
        li
            button.btn(onclick="location.href='/'") Deals